// @font-face {
//   font-family: Satoshi;
//   src: url(../src/assets/fonts/Satoshi-Medium.otf);
// }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #f7f6fb;
}
.container {
  max-width: 1540px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (max-width: 570px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
